<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        数据库管理
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <script>
        function selectAllClick(){
            var checked = document.getElementById("selectAll").value;
            console.log('button value: ', checked);
            var checkson = document.getElementsByName("id");
            if(checked === '全选'){
                document.getElementById('selectAll').value = '全不选';
                for(var i = 0; i < checkson.length ;i++){
                    checkson[i].checked = true;
                }
            }else{
                document.getElementById('selectAll').value = '全选';
                for(var i = 0; i < checkson.length ;i++){
                    checkson[i].checked = false;
                }
            }
        }
        function selectBlock(){
            var start = document.getElementById("startInput").value;
            var end = document.getElementById("endInput").value;
            console.log('Block: [', start, ',', end, ']');
            start = Number(start);
            end = Number(end);
            if(!Number.isInteger(start) || !Number.isInteger(end)) {
                alert('请输入两个整数！');
                return;
            }
            if(start > end) {
                alert('区间开始值必须小于结束值！');
                return;
            }
            var checkson = document.getElementsByName("id");
            for(var i = start; i < checkson.length && i <= end ;i++){
                checkson[i].checked = true;
            }
        }
    </script>
</head>
<body class="page-header-fixed" style="">
<div class="page-container row-fluid">
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <input type="hidden" id="area" value="admin" />
        <input type="hidden" id="controller" value="exp" />
        <input type="hidden" id="action" value="index" />
        <ul class="page-sidebar-menu">
            <li class="active"> <a href="javascript:;"> <i class="icon-user"> </i> <span class="title"> 数据库管理 </span> </a>
                <ul class="sub-menu">
                    <li class="active"> <a href="/index.html"> 数据列表 </a> </li>
                    <li class=""> <a href="/import.html"> 导入数据库 </a> </li>
                    <li class=""> <a href="/match.html"> 匹配数据 </a> </li>
                </ul> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN TABLE PORTLET-->
                    <div class="portlet box yellow tabbable">
                        <div class="portlet-title">
                            <h1>数据列表</h1>
                        </div>
                        {{ $headerSize := len .Headers }}
                        {{if eq $headerSize 0}}
                            <h3> 请先上传数据导入数据库 </h3>
                        {{else}}
                            <form action="/api/clear/" method="post" name="clearForm">
                                <button type="submit"> 清空数据库 </button>
                            </form>
                            <form action="/index.html" method="post" name="searchForm">
                                <input type="text" name="keyword" placeholder="请输入关键字" />
                                <button type="submit"> 搜索 </button>
                            </form>
                        <form action="/api/delete" method="put" name="batchDeleteForm">
                            <button type="submit"> 删除选中 </button>
                            <div>
                                <input type="text" id="startInput" placeholder="请输入开始勾选的序号" />
                                <input type="text" id="endInput" placeholder="请输入结束勾选的序号" />
                                <input type="button" id="blockSelect" onclick="selectBlock()" value="勾选"/>
                            </div>
                        {{end}}
                        <div class="portlet-body">
                            <div class="tabbable portlet-tabs">
                                <div class="tab-content">
                                    <div class="dataTables_wrapper form-inline" role="grid">
                                        <table border="1" cellspacing="1" cellpadding="4" align="center">
                                            <thead>
                                            {{if ne $headerSize 0}}
                                                <tr>
                                                    <th>
                                                        <input type="button" id="selectAll" onclick="selectAllClick()" value="全选"/>
                                                        序号
                                                    </th>
                                                    {{range .Headers}}
                                                        <th>{{.}}</th>
                                                    {{end}}
                                                    <th>操作</th>
                                                </tr>
                                            {{end}}
                                            </thead>
                                            <tbody>
                                            {{ $dataSize := len .Datas }}
                                            {{if ne $dataSize 0}}
                                                {{range $index, $data := .Datas}}
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" name="id" value="{{$index}}">
                                                            {{$index}}
                                                        </td>
                                                        {{range $index2, $cell := $data}}
                                                            <td>{{$cell}}</td> {{end}}
                                                        <td>
                                                            <a href="/api/delete?id={{$index}}">删除</a>
                                                        </td>
                                                </tr>
                                                {{end}}
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
